@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #404EED;
    color: white;
}

.bg-mountains {
    /* transition: transform 0.4s ease-in-out; */
    animation: sway 30s infinite ease;
}

@keyframes sway {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5%);
    }
    50% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0);
    }
}